## Example Data

In [3]:
import pandas as pd 
import numpy as np 

df = pd.DataFrame([
    ['green', 'M', 10.1, 'class1'],
    ['red', 'L', 13.1, 'class2'],
    ['blue', 'XL', 15.4, 'class2'],
    ['red', 'M', 13.5, 'class1'],    
])

df.columns = ['color', 'size', 'cost', 'class']
df

   color size  cost   class
0  green    M  10.1  class1
1    red    L  13.1  class2
2   blue   XL  15.4  class2
3    red    M  13.5  class1

## Preparing Data
Using Sci-kit Learn Transforme elements

In [7]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

scaler = StandardScaler()
df['cost'] = scaler.fit_transform(df['cost'].values.reshape(-1, 1))

df['class'] = LabelEncoder().fit_transform(df['class'])
df['color'] = LabelEncoder().fit_transform(df['color'])
df['size'] = LabelEncoder().fit_transform(df['size'])

# df = pd.DataFrame(OneHotEncoder(categorical_features=[1]).fit_transform(df.values).toarray())

In [13]:
pd.get_dummies(df[['color']])

   color
0      1
1      2
2      0
3      2

In [59]:
scaler.inverse_transform(df.cost.values.reshape([-1, 1]))

array([[-1.54014044],
       [ 0.03949078],
       [ 1.25054138],
       [ 0.25010828]])

### Manual Inverse Scaling

In [51]:
(10.1 - scaler.mean_) / scaler.scale_

array([10.1])

In [52]:
pd.get_dummies(df[['color', 'cost']])

       cost  color_blue  color_green  color_red
0 -1.540140           0            1          0
1  0.039491           0            0          1
2  1.250541           1            0          0
3  0.250108           0            0          1